@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
<br />
<h3>
Merhaba Proje Kampı Başladı h3 ile yazıldı
</h3>

<h1>Merhaba proje kampı başladı h1 ile yazıldı</h1>